/* Hide the 'Course Overview' heading from the dashboard. */
#page-my-index {
    .block_myoverview {
        h3 {
            display: none;
        }
        .tab-content .row {
            display: flex;
            flex-wrap: wrap;
            &.hidden { display: none; }
        }
    }

    .courses-view-course-item {
        background-color: #ddd;
        border: 0;
        height: auto;

        .course-info-container {
            padding: 0;

            .media {
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;

                .media-right {
                    padding: 1rem 18px; // Use pixels to keep same size when font size reduces on smaller screens
                    background-color: rgba(0,0,0,.6);
                    // width: 150px;
                }
                .media-body {
                    padding: 1rem;
                    padding-bottom: 0.5rem;
                    background-color: rgba(255,255,255,.95);
                    border: 1px solid rgba(0,0,0,.125);
                    // @include media-breakpoint-up(lg) {
                    //     width: 248px !important;
                    // }
                    // width: 62%;
                }
                .media-object {
                    margin-bottom: 3rem;
                    @include media-breakpoint-up(sm) {
                        padding: 0 22px; // Make the right side 150px at all sizes
                    }
                }
            }
            .summary {
                margin-bottom: 0;
                font-size: .75rem;
                max-height: 5.5rem;
                overflow: hidden;

                &.hidden-md-up {
                    font-size: 1em;
                }

            }
        }

        .card-actions {
            padding: .4em;
        }
        .card-badges {
            .badge {
                
            }
        }
        .badge-pill {
            padding-right: .6em;
            padding-left: .6em;
            padding-top: .1em;
            border-radius: 10rem;
        }
    }
}



$chart-size: 70px;
$doughnut-border-size: 15px;
$doughnut-dasharray: 173;
$doughnut-empty-colour: rgba(255,255,255,0.3);
$doughnut-fill-colour: white;

.progress-chart-container {
    height: $chart-size;
    width: $chart-size;

    .progress-doughnut {
        position: relative;
        height: $chart-size;
        width: $chart-size;
        background-clip: padding-box;
        border: $doughnut-border-size solid $doughnut-empty-colour;
        border-radius: 50%;
        box-sizing: border-box;

        .progress-text {
            position: absolute;
            top: 50%;
            /*rtl:ignore*/
            left: 50%;
            transform: translate(-50%, -50%);
            color: $doughnut-empty-colour;
            font-size: .8rem;

            &.has-percent {
                color: $doughnut-fill-colour;
            }
        }

        .progress-indicator {
            position: absolute;
            top: ($doughnut-border-size * -1);
            left: ($doughnut-border-size * -1);
            height: $chart-size;
            width: $chart-size;

            svg {
                position: relative;
                height: 100%;
                width: 100%;

                .circle {
                    stroke-width: $doughnut-border-size;
                    stroke: $doughnut-fill-colour;
                    fill: none;
                    stroke-dasharray: $doughnut-dasharray;
                    stroke-dashoffset: $doughnut-dasharray;
                    transform: rotate(-90deg);
                    transform-origin: center center;

                    @for $i from 1 through 100 {
                        &.percent-#{$i} {
                            stroke-dashoffset: $doughnut-dasharray - ($i / 100 * $doughnut-dasharray);
                        }
                    }
                }
            }
        }
    }

    .no-progress {
        height: $chart-size;
        width: $chart-size;
        background-color: $doughnut-empty-colour;
        border-radius: 50%;
        position: relative;

        .icon {
            position: absolute;
            top: 50%;
            /*rtl:ignore*/
            left: 50%;
            margin: 0;
            transform: translate(-45%, -45%);
            color: #fff;
            height: ($chart-size / 2) + 10px;
            width: ($chart-size / 2) + 10px;
            font-size: ($chart-size / 2) + 10px;
        }
    }
}