.istartaction {
    padding: 4px 0 4px 58px;
    margin: 0 0 1rem 0;
    min-height: 58px;
    background-repeat: no-repeat;
    background-position: 0 4px;
}
.istartaction.istartaction-affirmations {
    background-image: url([[pix:theme|academy/istart/affirmations]]);
}
.istartaction.istartaction-connect {
    background-image: url([[pix:theme|academy/istart/connect]]);
}
.istartaction.istartaction-form {
    background-image: url([[pix:theme|academy/istart/form]]);
}
.istartaction.istartaction-h1 {
    background-image: url([[pix:theme|academy/istart/h1]]);
}
.istartaction.istartaction-letter {
    background-image: url([[pix:theme|academy/istart/letter]]);
}
.istartaction.istartaction-material {
    background-image: url([[pix:theme|academy/istart/material]]);
}
.istartaction.istartaction-online {
    background-image: url([[pix:theme|academy/istart/online]]);
}
.istartaction.istartaction-purchase {
    background-image: url([[pix:theme|academy/istart/purchase]]);
}
.istartaction.istartaction-read {
    background-image: url([[pix:theme|academy/istart/read]]);
}
.istartaction.istartaction-schedule {
    background-image: url([[pix:theme|academy/istart/schedule]]);
}
.istartaction.istartaction-script {
    background-image: url([[pix:theme|academy/istart/script]]);
}
.istartaction.istartaction-tutorial {
    background-image: url([[pix:theme|academy/istart/tutorial]]);
}
.istartaction.istartaction-video {
    background-image: url([[pix:theme|academy/istart/video]]);
}
.istartaction.istartaction-write {
    background-image: url([[pix:theme|academy/istart/write]]);
}