.bg-dark {
    background-color: #343a40 !important
}

.big-button-wrapper {
    display: block;
    float: left;
    padding: 10px;
}

.big-button-wrapper a {
    display: block;
    width: 200px;
    height: 132px;
    overflow: hidden;
    border: 1px solid #7e7e7e;
}

.big-button-wrapper a:link,
.big-button-wrapper a:visited,
.big-button-wrapper a:hover,
.big-button-wrapper a:active {
    color: #fff;
    text-decoration: none;
}

.big-button-wrapper a:hover {
    border-color: #00adef;
}

.big-button-wrapper a#australia {
    background: url([[pix:theme|big-button-australia]]) no-repeat;
}

.big-button-wrapper a#new-zealand {
    background: url([[pix:theme|big-button-new-zealand]]) no-repeat;
}

.big-button-wrapper a#residential-sales {
    background: url([[pix:theme|big-button-residential-sales]]) no-repeat;
}

.big-button-wrapper a#residential-sales-registration-qld {
    background: url([[pix:theme|big-button-residential-sales-registration-qld]]) no-repeat;
}

.big-button-wrapper a img {
    vertical-align: text-bottom;
}

.big-button-text-overlay {
    display: block;
    /* Fallback for web browsers that doesn't support RGBa */
    background: #7F7F7F;
    /* RGBa with 0.5 opacity */
    background: rgba(0, 0, 0, 0.5);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#77000000, endColorstr=#77000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#77000000, endColorstr=#77000000)";
    padding-left: 3px;
    position: relative;
    height: 100%;
    top: -23%;
    width: 198px;
    @media (max-width: 767px) {
        top: -18%;
    }
}



.big-button-wrapper a:hover .big-button-text-overlay {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 173, 239);
    /* RGBa with 0.5 opacity */
    background: rgba(0, 173, 239, 0.5);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7700adef, endColorstr=#7700adef);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7700adef, endColorstr=#7700adef)";
}

/* Visually separate Course table of contents from the contents on the right. */
@include media-breakpoint-up(lg) {
    body.path-course #region-main {
        border-left: 1px solid #eee;
    }
}

/* Fix Book module showing "previousprevious:" and "nextnext" on text links below content. */
.path-mod-book .bookprev::after,
.path-mod-book .booknext::before {
    content: none;
}
.navtop.navtext a.bookprev,
.navbottom.navtext a.bookprev,
.navtop.navtext a.booknext,
.navbottom.navtext a.booknext {
    visibility: collapse;
    font-size: 0;

    .chaptername {
        visibility: visible;
        font-size: $font-size-root;
    }
}

// Progress bars
$progress-height:                   1.5rem;
$progress-font-size:                $font-size-base;
$progress-bg:                       $gray-200 !default;
$progress-border-radius:            0.75rem;
$progress-box-shadow:               inset 0 .1rem .1rem rgba($black, .1) !default;
$progress-bar-color:                $white !default;
$progress-bar-bg:                   theme-color("primary") !default;
$progress-bar-animation-timing:     1s linear infinite !default;
$progress-bar-transition:           width .6s ease !default;

body.path-course-view,
.snap-activity .contentafterlink {
    // From progress.scss
    @keyframes progress-bar-stripes {
        from { background-position: $progress-height 0; }
        to { background-position: 0 0; }
    }

    .progress {
        display: flex;
        height: $progress-height !important;
        margin: 0 !important;
        overflow: hidden; // force rounded corners by cropping it
        font-size: $progress-font-size !important;
        background-color: $progress-bg !important;
        border-radius: $progress-border-radius !important;
    }

    .progress-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white !important;
        font-size: $progress-font-size;
        text-align: center;
        background-color: $progress-bar-bg !important;
        @include transition($progress-bar-transition);
    }

    .progress-bar-striped {
        @include gradient-striped();
        background-size: $progress-height $progress-height;
    }

    .progress-bar-animated {
        animation: progress-bar-stripes $progress-bar-animation-timing;
    }

    .progress-bar-empty {
        background-color: #e9ecef !important;
        color: black !important;
    }
}
