{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/courses-view-course-item

    This template renders the course summary (view by courses) for the myoverview block.

    Example context (json):
    {
        "fullnamedisplay": "course 3",
        "viewurl": "https://www.google.com",
        "summary": "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."
    }
}}
<div class="col-lg-6">
    <div class="card m-b-1 courses-view-course-item {{durationclass}} {{experienceclass}} {{roleclass}}">
        <div class="card-block course-info-container" id="course-info-container-{{id}}">
            <div class="media" style="background-image: url({{coverimageurl}});">
                <div class="media-body">
                    <h4 class="h5"><a href="{{viewurl}}" class="{{^visible}}dimmed{{/visible}}">{{{fullnamedisplay}}}</a></h4>
                    <p class="summary hidden-md-up visible-phone">
                        {{#shortentext}} 140, {{summary}}{{/shortentext}}
                    </p>
                    <p class="summary hidden-sm-down hidden-lg-up visible-tablet">
                        {{#shortentext}} 240, {{summary}}{{/shortentext}}
                    </p>
                    <p class="summary hidden-md-down visible-desktop">
                        {{#shortentext}} 140, {{summary}}{{/shortentext}}
                    </p>
                    <div class="card-badges">
                        {{#role}}<span class="badge badge-pill"><i class="fa fa-group" aria-hidden="true"></i> {{role}}</span>{{/role}}
                        {{#experience}}<span class="badge badge-pill"><i class="fa fa-tachometer" aria-hidden="true"></i> {{experience}}</span>{{/experience}}
                        {{#duration}}<span class="badge badge-pill"><i class="fa fa-clock-o"></i> {{duration}}</span>{{/duration}}
                    </div>
                </div>
                <div class="media-right">
                    <div class="media-object">
                        {{> block_myoverview/progress-chart}}
                    </div>
                    <div class="card-actions">
                        <a href="{{viewurl}}" class="btn btn-outline-primary rounded">{{#isenrolled}}{{#str}}resourcedisplayopen{{/str}}{{/isenrolled}}{{^isenrolled}}{{#str}}view{{/str}}{{/isenrolled}}</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
