{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_snipcart/shoppingcart_popover

    This template will render the shopping cart popover for the navigation bar.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid the logged in user id
    * urls The URLs for the popover

    Example context (json):
    {
        "userfullname", "Lisa Learner"
        "useremail": "lisa@learner.com",
        "userphone": "1234 5678",
        "useraddress": "1 Street Road",
        "usercity": "Cityville",
        "usercountry": "Countryland",
        "userpostcode": "12345",
        "currency": "CUR",
        "userid": 3,
        "publicapikey": "ABCDEFG",
    }

}}
{{< core/popover_region }}
    {{$classes}}popover-region-shoppingcart snipcart-summary"{{/classes}}
    {{$attributes}}id="nav-shoppingcart-popover-container" data-userid="{{userid}}"{{/attributes}}

    {{$togglelabel}}{{#str}} showshoppingcart, theme_snap {{/str}}{{/togglelabel}}
    {{$togglecontent}}
        {{#pix}} t/backpack, core, {{#str}} showshoppingcart, theme_snap {{/str}} {{/pix}}
        <div class="count-container hidden" data-region="shoppingcart-count-container"><span class="snipcart-total-items"></span></div>
    {{/togglecontent}}

    {{$containerlabel}}{{#str}} shoppingcartwindow, theme_snap {{/str}}{{/containerlabel}}

    {{$headertext}}{{#str}} shoppingcart, theme_snap {{/str}}{{/headertext}}
    {{$headeractions}}
        <div class="snipcart-payment-types">
            <span class="snipcart-payment-type">{{#pix}} amex, block_snipcart, 'American Express accepted'{{/pix}}</span>
            <span class="snipcart-payment-type">{{#pix}} master_card, block_snipcart, 'Master Card accepted'{{/pix}}</span>
            <span class="snipcart-payment-type">{{#pix}} visa, block_snipcart, 'Visa accepted'{{/pix}}</span>
        </div>
    {{/headeractions}}

    {{$content}}
        <script type="text/javascript"
               src="https://cdn.snipcart.com/scripts/snipcart.js"
               id="snipcart"
               data-autopop="false"
               data-api-key="{{publicapikey}}">
        </script>
        <link type="text/css" href="https://cdn.snipcart.com/themes/base/snipcart.min.css" rel="stylesheet" />

    {{/content}}
    {{$anchor}}
        <div class="popover-region-footer-container">
        <a href="#" class="snipcart-checkout btn btn-small btn-success see-all-link">
                <div class="snipcart-actions faded">{{#pix}} t/backpack, core, {{#str}} showshoppingcart, theme_snap {{/str}} {{/pix}} {{#str}} checkout, block_snipcart {{/str}} <span class="snipcart-total-price"></span></div>
        </a>
        </div>
    {{/anchor}}
{{/ core/popover_region }}
{{#js}}
require(['jquery', 'message_popup/notification_popover_controller'], function($, controller) {
    var container = $('#nav-shoppingcart-popover-container');
    var controller = new controller(container);
    controller.registerEventListeners();
    controller.registerListNavigationEventListeners();
});

$(window).on("load", function() {
    $(".snipcart-actions").addClass("fadein");

    Snipcart.api.setCurrency("{{currency}}");

    Snipcart.execute("setBillingAddress", {
        email: "{{useremail}}",
        name: "{{userfullname}}",
        address1: "{{useraddress}}",
        address2: "",
        country: "{{usercountry}}",
        province: "",
        city: "{{usercity}}",
        phone: "{{userphone}}",
        postalCode: "{{userpostcode}}"
    });
});
{{/js}}
