{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_snipcart/shoppingcart_popover

    This template will render the shopping cart popover for the navigation bar.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid the logged in user id
    * urls The URLs for the popover

    Example context (json):
    {
        "userid": 3,
        "urls": {
            "preferences": "http://www.moodle.com"
        }
    }

}}
{{< core/popover_region }}
    {{$classes}}popover-region-shoppingcart block_snipcart{{/classes}}
    {{$attributes}}id="nav-shoppingcart-popover-container" data-userid="{{userid}}"{{/attributes}}

    {{$togglelabel}}{{#str}} showshoppingcart, theme_snap {{/str}}{{/togglelabel}}
    {{$togglecontent}}
        {{#pix}} t/backpack, core, {{#str}} showshoppingcart, theme_snap {{/str}} {{/pix}}
        <div class="count-container hidden" data-region="count-container"></div>
    {{/togglecontent}}

    {{$containerlabel}}{{#str}} shoppingcartwindow, theme_snap {{/str}}{{/containerlabel}}

    {{$headertext}}{{#str}} shoppingcart, theme_snap {{/str}}{{/headertext}}
    {{$headeractions}}
        <a class="mark-all-read-button"
           href="#"
           title="{{#str}} markallread {{/str}}"
           data-action="mark-all-read"
           role="button">
            <span class="normal-icon">{{#pix}} t/markasread, core, {{#str}} markallread {{/str}} {{/pix}}</span>
            {{> core/loading }}
        </a>
        <a href="{{{urls.preferences}}}"
           title="{{#str}} notificationpreferences, message {{/str}}">
            {{#pix}} i/settings, core, {{#str}} notificationpreferences, message {{/str}} {{/pix}}
        </a>
    {{/headeractions}}

    {{$content}}
        <script type="text/javascript"
               src="https://cdn.snipcart.com/scripts/snipcart.js"
               id="snipcart"
               data-autopop="false"
               data-api-key="{{publicapikey}}">
        </script>
        <link type="text/css" href="https://cdn.snipcart.com/themes/base/snipcart.min.css" rel="stylesheet" />
            <div class="snipcart-summary">
                <div class="snipcart-items">
                    <span class="snipcart-total-items-label">{{#str}} items, block_snipcart {{/str}}</span>
                    <span class="snipcart-total-items"></span>
                </div>
                <div class="snipcart-price">
                    <span class="snipcart-total-price-label">{{#str}} total, block_snipcart {{/str}}</span>
                    <span class="snipcart-total-price"></span></div>
            </div>
            
        <div class="snipcart-payment-types">
            <span class="snipcart-payment-type">{{#pix}} amex, block_snipcart, 'American Express accepted'{{/pix}}</span>
            <span class="snipcart-payment-type">{{#pix}} master_card, block_snipcart, 'Master Card accepted'{{/pix}}</span>
            <span class="snipcart-payment-type">{{#pix}} visa, block_snipcart, 'Visa accepted'{{/pix}}</span>
        </div>
    {{/content}}
    {{$anchor}}
        <a href="#" class="snipcart-checkout btn btn-small btn-success see-all-link">
            <div class="popover-region-footer-container">
                <div class="snipcart-actions faded">{{#pix}} t/backpack, core, {{#str}} showshoppingcart, theme_snap {{/str}} {{/pix}} {{#str}} checkout, block_snipcart {{/str}}</div>
            </div>
        </a>
    {{/anchor}}
{{/ core/popover_region }}
{{#js}}
require(['jquery', 'message_popup/notification_popover_controller'], function($, controller) {
    var container = $('#nav-shoppingcart-popover-container');
    var controller = new controller(container);
    controller.registerEventListeners();
    controller.registerListNavigationEventListeners();
});

$(window).on("load", function() {
    $(".snipcart-actions").addClass("fadein");

    Snipcart.api.setCurrency("{{currency}}");

    Snipcart.execute("setBillingAddress", {
        email: "{{useremail}}",
        name: "{{userfullname}}",
        address1: "{{useraddress}}",
        address2: "",
        country: "{{usercountry}}",
        province: "",
        city: "{{usercity}}",
        phone: "{{userphone}}",
        postalCode: "{{userpostcode}}"
    });
});
{{/js}}
